@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  background-color: white;
  color: black;
}

// Wrapper

.wrapper {
  height: 100vh;
  width: 100%;
  max-width: 1250px;
  margin: auto;
  display: flex;
}

// Navbar

.navbar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}

nav {
  .nav_link {
    display: flex;
    text-decoration: none;
    color: #000;
    padding: 12px;
    border-radius: 50px;
    transition: 0.2s ease;
    width: max-content;
    margin-top: 5px;

    &:hover {
      background: rgb(202, 202, 202);
      cursor: pointer;
    }
  }
}

.nav_icon {
  text-align: center;
  font-size: 24px;
  width: 28px;
  margin-left: 2px;
  align-self: center;
}

.icon_text {
  font-size: 20px;
  padding: 0px 20px;
  align-self: center;
}

// Logo

.logo {
  color: rgb(29, 155, 240);
  font-size: 26px;
  margin-top: 12px;
  margin-left: 2px;

  i {
    padding: 10px;
    border-radius: 50%;

    &:hover {
      background: rgba(29, 156, 240, 0.2);
      cursor: pointer;
    }
  }
}

// Tweet Button on Nav

.tweet_btn {
  justify-content: center;
  font-size: 18px;
  color: #fff;
  font-weight: 800;
  width: 80%;
  padding: 14px;
  background: rgb(29, 155, 240);

  &:hover {
    background: rgb(24, 133, 206);
  }
}

// Profile Info

.profile {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 12px;
  border-radius: 50px;
  width: max-content;
  transition: 0.2s ease;
  margin-bottom: 10px;

  &:hover {
    background: rgb(202, 202, 202);
    cursor: pointer;
  }

  img {
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
    padding: 5px;
  }

  a {
    color: #000;
    text-decoration: none;
    text-align: right;
  }
}

.profile_info {
  margin-left: 10px;
}

.display_name {
  font-size: 14px;
}

.user_name {
  font-size: 14px;
}

//
// Main Content

.main_content {
  width: 50%;
  border-right: 0.5px solid rgba(199, 199, 199, 0.5);
  border-left: 0.5px solid rgba(199, 199, 199, 0.5);
  height: max-content;
  margin-left: 22%;
}

.title {
  font-size: 10px;
  border-bottom: 0.5px solid rgba(199, 199, 199, 0.5);
  padding: 10px;
}

// Tweet Content

.tweet_box {
  border-bottom: 0.5px solid rgba(199, 199, 199, 0.5);
  padding: 10px;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 3fr;
  align-items: center;
  grid-gap: 15px;

  .profile_pic {
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 50%;
    padding: 5px;
  }

  textarea {
    border: none;
    resize: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    outline: none;
    overflow: hidden;
    border-bottom: 0.5px solid rgba(199, 199, 199, 0.5);
  }

  .tweet_links {
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: left;

    a {
      text-decoration: none;
      color: rgb(29, 155, 240);
      padding: 10px;
      border-radius: 50%;

      &:hover {
        background: rgba(29, 156, 240, 0.2);
        cursor: pointer;
      }
    }
  }

  .tweet_btn_main {
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: right;
    font-weight: 800;
    padding: 12px 14px;
    background: rgb(29, 155, 240);
    border-radius: 50px;
    width: max-content;
    cursor: pointer;

    &:hover {
      background: rgb(24, 133, 206);
    }

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

// Feed / Tweets

.feed {
  border-bottom: 0.5px solid rgba(199, 199, 199, 0.5);
  padding: 10px;

  .tweet_info {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 15px;

    .profile_pic {
      width: 50px;
      height: 50px;
      background: #000;
      border-radius: 50%;
      padding: 5px;
      margin-top: 10px;
    }

    .tweet_user {
      grid-column-start: 2;
      grid-row-start: 1;
      padding-top: 10px;
      display: flex;

      i {
        color: rgb(29, 155, 240);
      }

      h2 {
        font-size: 14px;
        padding-left: 5px;
        color: grey;
      }
    }

    a {
      grid-column-start: 2;
      grid-row-start: 1;
      justify-self: right;
      text-decoration: none;
      color: grey;
      margin-top: 0;

      i {
        padding: 8px;
        border-radius: 50%;

        &:hover {
          background: rgba(29, 156, 240, 0.2);
          cursor: pointer;
        }
      }
    }

    .tweet_text {
      grid-column-start: 2;
      grid-row: 1;
      margin-top: 30px;

      a {
        color: #000;
      }
    }

    .tweet_file {
      grid-column-start: 2;
      border-radius: 15px;
      width: 100%;
      height: max-content;
      max-height: 300px;
      cursor: pointer;
    }
  }
}

// Side Content / Right Side

.side_content {
  margin: 5px 20px;

  .search_bar {
    padding: 12px;
    background-color: rgba(199, 199, 199, 0.5);
    border-radius: 50px;
    position: fixed;
    display: grid;
    grid-template-columns: 20px 1fr;
    border: 1px solid transparent;

    &:focus-within {
      border: 1px solid rgb(29, 155, 240);
      background: #fff;

      i {
        color: rgb(29, 155, 240);
      }
    }

    i {
      font-size: 18px;
      color: grey;
      margin: auto;
      font-weight: lighter;
    }

    input {
      font-size: 14px;
      margin-left: 5px;
      background: none;
      border: none;
      outline: none;
    }
  }
}

// Twitter API Feed

.twitter_users {
  position: fixed;
  margin-top: 55px;
  background: rgba(199, 199, 199, 0.5);
  padding: 15px;
  max-width: max-content;
  border-radius: 15px;

  h1 {
    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: rgb(29, 155, 240);
    font-weight: lighter;
    margin: 15px 0px;
  }

  .users {
    display: grid;
    grid-template-columns: 50px 2fr 1fr;
    align-items: center;
    width: 100%;
    padding: 5px 0px;

    img {
      width: 50px;
      height: 50px;
      background: #000;
      border-radius: 50%;
      padding: 5px;
    }

    #users_info {
      margin: 0px 15px 0px 5px;
      h1 {
        font-size: 12px;
      }
      h2 {
        font-size: 12px;
        color: grey;
      }
      i {
        color: rgb(29, 155, 240);
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      font-weight: 800;
      padding: 12px 14px;
      background: #000;
      border-radius: 50px;
      width: max-content;
      cursor: pointer;
    }
  }
}

// Mesages Box

.messages {
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 25%;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  padding: 10px 20px;
  box-shadow: 0 0 5px 0 rgba(199, 199, 199, 0.7);
  border-radius: 20px 20px 0 0;
  align-items: center;

  i {
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;

    &:hover {
      background: grey;
    }
  }
}
